html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  box-sizing: border-box;
}

h3 {
  color: #e5e5e5;
}

a h3:hover {
  color: #ffffff;
}

a {
  text-decoration: none;
}

.wrapper {
  min-width: 1050px;
  min-height: 100%;
  background-color: #141414;
}

.sign-in-container {
  background-color: #efefee;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  background-color: #ffffff;
  min-height: 300px;
  max-height: 100%;
  width: 450px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
  padding: 20px 35px;
  overflow-y: auto;
}

.column form {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}

.column form input[type="text"],
.column form input[type="email"],
.column form input[type="password"] {
  font-size: 14px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #dedede;
}

.column form input[type="submit"] {
  background-color: #4285f4;
  color: #ffffff;
  height: 36px;
  width: 88px;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

.column .header {
  padding: 20px 0;
}

.column h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
  padding-top: 16px;
  color: #000000;
}

.column .header span {
  font-size: 14px;
}

.column .header img {
  width: 100px;
}

.sign-in-message {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

.error-message {
  color: #ff0000;
  font-size: 14px;
  font-weight: 400px;
  text-align: center;
}

.preview-image,
.preview-video {
  width: 100%;
}

.preview-container {
  position: relative;
  display: flex;
}

.preview-container.small {
  width: 230px;
  height: 129px;
  margin-right: 4px;
  display: inline-flex;
}

.preview-container.small img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.preview-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
}

.preview-overlay .main-details h3 {
  color: #ffffff;
  font-size: 40px;
  margin: 15px 0;
}

.preview-overlay .main-details h4 {
  color: #ffffff;
  font-size: 40px;
  margin: 0;
}

.preview-overlay .main-details {
  position: relative;
  top: 35%;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

.main-details button {
  background-color: rgba(51, 51, 51, 0.4);
  color: #ffffff;
  border: none;
  min-width: 150px;
  padding: 0 38px;
  height: 50px;
  max-height: 50px;
  font-size: 18px;
  border-radius: 2px;
  margin-bottom: 15px;
  margin-right: 5px;
  cursor: pointer;
}

button i {
  color: inherit;
}

.main-details button:hover {
  background-color: #e6e6e6;
  color: #000000;
}

.category {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.entities,
.videos {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.preview-categories {
  padding: 0 50px;
}

.error-banner {
  color: #ffffff;
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.season {
  display: flex;
  flex-direction: column;
  padding: 10px 50px;
}

.episode-container {
  display: inline-flex;
  justify-content: center;
  margin-right: 4px;
}

.episode-container .contents {
  display: flex;
  flex-direction: column;
  width: 230px;
  position: relative;
}

.episode-container .video-info h4,
.episode-container .video-info span {
  color: #ffffff;
  width: 100%;
  white-space: normal;
}

.episode-container img {
  width: 230px;
  height: 129px;
  object-fit: cover;
}

.episode-container .video-info {
  max-height: 200px;
  overflow-y: auto;
}

.preview-categories.no-scroll .category .entities {
  white-space: normal;
}

.watch-container video {
  width: 100%;
}

.video-control {
  position: absolute;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.video-control h1 {
  color: #ffffff;
}

.video-control button {
  font-size: 50px;
  margin: 50px;
  padding: 0;
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.up-next {
  height: 100%;
  justify-content: center;
}

.up-next-container button {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.up-next-container h2,
.up-next-container h3 {
  color: #ffffff;
}

.watch-nav {
  z-index: 2;
}

.seen {
  color: #2ecc71;
  font-size: 26px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.top-bar {
  position: fixed;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 0 60px;
  height: 70px;
  box-sizing: border-box;
  min-width: 1050px;
  transition: background-color 200ms linear;
}

.top-bar.scrolled {
  background-color: #141414;
  transition: background-color 200ms linear;
}

.logo-container {
  height: 40px;
}

.logo-container img {
  height: 100%;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links a {
  color: #ffffff;
  font-size: 14px;
  margin-left: 20px;
}

.right-items {
  text-align: right;
  flex: 1;
}

.right-items i {
  color: #ffffff;
  font-size: 20px;
  margin-left: 10px;
}

.preview-categories h1 {
  color: #e5e5e5;
}

.text-box-container {
    padding: 100px 50px;
}

.search-input {
    height: 50px;
    width: 600px;
    border: 1px solid #dedede;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 3px;
}
